<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >

<listeners>
		<listener class-name="smarttech.nyc.listenerpage.TestListener" />
</listeners> 

  <test name="Nopackage" >
    <classes>
       <class name="smarttech.nyc.myrunner.TestRunner" />
    </classes>
  </test>
</suite>
